.activatedContainer {
	height: 2rem;
	width: 100%;
	background-color: #444;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ddd;
	margin: 1rem 0;
}

.flexbox {
	display: flex;
}

.tictactoe {
	flex: 1;
}
.tictactoe__row {
	display: flex;
}
.tictactoe__cell {
	height: 6rem;
	width: 6rem;
	background-color: #333;
	color: #aaa;
	font-size: 2rem;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.operations {
	margin: 10px;
	width: 25rem;
}

.operations__row {
	margin: 1rem 0;
}

.operations__row button {
	border: 0;
	padding: 5px 10px;
	background-color: #eee;
	font-size: 1rem;
	margin-bottom: 5px;
	width: 100%;
}
.operations__row button:hover {
	cursor: pointer;
}

.operations__row p {
	font-size: 0.8rem;
	color: #aaa;
}

.operations__row input {
	padding: 5px 10px;
	font-size: 1rem;
	width: 44%;
}
